<style>
    .image {
        content: url('404.png');
        width: 60%;
        height: 60%;
    }
</style>
<div class="text-center text-primary mt-5" style="font-size: xx-large; font-weight: 600;">Youtube to Mp3 Api</div>
<div class="row justify-content-center mt-4" style="width: 99%;">
    <div class="image"></div>
</div>